body {
    background-color: rgb(107, 102, 102);

}

h1 {
    font-size: 30px;
    color: white;
}

.btninicio {
    font-size: 30px;

    
}
li{
    
    
    display: flex;
    text-decoration: none;
}

ul {
    list-style: none;
}

/*Titulo con el h1*/
.snav navbar-nav {
    display: inline-block;
}
/*div de la tabla*/
#div{
    background-color: aqua;
   
}
/*estilo de la tbla*/
table, th, td{
    border: 2px solid black;
    width: 200px;
    height: 50px;

}
table{
    text-align: center;
}
p{
    text-align: justify;
    padding-left: 20%;
    padding-right: 20%;
    display: none;
}