/*todo el documento*/
#todo {
    text-align: center;
    color: rgb(44, 173, 173);
}
/*tamaño de la imagen*/
img {
    width: 100%;


}
/*div del raton*/
#idraton {
    width: 10%;
    height: 10%;
    position: absolute;
    top: 50%;
    left: 50%;
  
}
#reiniciar{
    color: rgb(44, 173, 173);
   
}