$color: rgb(226, 240, 240);
$colorcon: rgb(185, 175, 175);
$colorcan: rgb(201, 170, 170);
$letrabotones: 'Courier New', Courier, monospace;
$color_navbar: #4b7cad!important;
$letralabel: 'Times New Roman', Times, serif;
$negritalabl: bold;
$tamanologox: 30px;
$tamanologoy: 30px;
$tipoletraformulario: 'Times New Roman', Times, serif;